<div className="d-flex no-gutters">
  <div className="cmtReplyIco d-flex justify-content-center col-1">
    <img src="/img/return.svg" alt="" />
  </div>
  <div className="cmtBoxReplyArea col-11">
    <div className="cmtInfo d-flex align-items-center">
      <div className="userHeadIcon mr-2"></div>
      <div className="replycmtSid"></div>
      <div className="cmtNickname mr-auto">${reply[i].nickname}</div>
      <div className="cmtInfoDate"><${reply[i].postTime2}</div>
    </div>
    <div className="cmtTextWrap">
      <span className="cmtBoxContent">${reply[i].content}</span>
    </div>
    <div className="cmtTools d-flex align-items-center">
      <div className="cmtToolsBtn mr-auto">
        <span className="cmtAccuseLink">檢舉</span>
      </div>

      <div className="cmtToolsBtn pr-2">
        <a href="">
          <span className="material-icons pr-1">thumb_up_alt</span>
          <span>${reply[i].upPoint}</span>
          </a>
        <a href="">
          <span className="material-icons pr-1">thumb_down_alt</span>
          <span>${reply[i].downPoint}</span>
          </a>
      </div>
    </div>
  </div>
</div>
